<div class="modal-bg">
    <input type="text" name="filePath" value="{{ tpl.file }}"  placeholder="Enter file path, i.e - /users/user.html" >
    <br><br>
    <div class="actions">
        <button  type="button" class="button save">Save</button>
        <button id="cancel" type="button" class="cancel">Cancel</button>
    </div>
</div>